{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class=" mt-100 row justify-content-center">
            <div class="col-md-8 p-5">
                <div class="card">
                    <div class="card-header">Sign in</div>
                    <div class="card-body">
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                The username and password do not match. Enter the correct details.
                            </div>
                        {% endif %}

                        {% if next %}
                            <div class="alert alert-info" role="alert">
                                You have accessed a page that can only be accessed by logged in users.<br>
                                Please log in.
                            </div>
                        {% else %}
                            <div class="alert alert-info" role="alert">
                                Please log in.
                            </div>
                        {% endif %}

                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">
                            <div class="form-group row">
                                <label for="{{ form.username.id_for_label }}"
                                       class="col-md-4 col-form-label text-md-right">Username</label>
                                <div class="col-md-6">
                                    {{ form.username }}
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="{{ form.password.id_for_label }}"
                                       class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    {{ form.password }}
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}