{% url 'products:product_list' as  product_list_url %}
{% url 'index' as  index_url %}
{% url 'carts:home' as  cart_url %}

{% load static %}

<!-- Mobile Nav (max width 767px)-->
<div class="mobile-nav">
    <!-- Navbar Brand -->
    <div class="amado-navbar-brand">
        <a href="index.html"><img src="{% static '/img/core-img/logo.png' %}" alt=""></a>
    </div>
    <!-- Navbar Toggler -->
    <div class="amado-navbar-toggler">
        <span></span><span></span><span></span>
    </div>
</div>


<!-- Header Area Start -->
<header class="header-area clearfix">
    <!-- Close Icon -->
    <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <!-- Logo -->
    <div class="logo">
        <a href="index.html"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
    </div>
    <!-- Amado Nav -->
    <nav class="amado-nav">
        <ul>
            <li {% if request.path == index_url %}class="active"{% endif %}><a href={{ index_url }}>Home</a></li>
            <li {% if request.path == product_list_url %}class="active"{% endif %}><a
                    href={{ product_list_url }}>Shop</a></li>
            {#                    <li {% if request.path == cart_url %}class="active"{% endif %}><a href={{ cart_url }}>Cart</a></li>#}
        </ul>
    </nav>
    <!-- Button Group -->
    <div class="amado-btn-group mt-30 mb-100">
        {% if not user.is_authenticated %}
            <a href="{% url 'login' %}" class="btn amado-btn mb-15">Login</a>
        {% else %}
            <a href="{% url 'logout' %}" class="btn amado-btn mb-15">Logout</a>
        {% endif %}
    </div>
    <!-- Cart Menu -->
    <div class="cart-fav-search mb-100">
        <a href="{{ cart_url }}" class="cart-nav"><img src="{% static 'img/core-img/cart.png' %}" alt=""> Cart</a>
        <a href="#" class="search-nav"><img src="{% static 'img/core-img/search.png' %}" alt=""> Search</a>
    </div>
</header>
<!-- Header Area End -->