<div class="card h-100">
    <!-- Product image-->
    <img class="card-img-top" src="{{instance.image.url}}"   alt="{{ instance.title }}" />
    <!-- Product details-->
    <div class="card-body p-4">
        <div class="text-center">
            <!-- Product name-->
            <h5 class="fw-bolder">{{ instance.title }}</h5>
            <!-- Product price-->
            $ {{ instance.price }}
        </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ instance.get_absolute_url }}">View options</a></div>
    </div>
</div>
