{% extends 'base.html' %}
{% block content %}
    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="cart-title mt-50">
                        <h2>Thank you!</h2>
                    </div>
                    <p>Your order has been processed. We'll contact you soon.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}