{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="products-catagories-area clearfix">
        <div class="amado-pro-catagory clearfix mt-100" style="position: relative; height: 1689.87px;">

            {% for category in object_list %}
                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix" style="position: absolute; left:{{category.left}}%; top: {{category.top}}px;">
                    <a href="{% url 'products:product_by_category' pk=category.id %}">
                        <img src="{{ category.image}}" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From $180</p>
                            <h4 href="{% url 'products:product_by_category' pk=category.id %}">{{ category.title }}</h4>
                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}