{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="products-catagories-area clearfix">
        <div class="amado-pro-catagory clearfix mt-100" style="position: relative; height: 1689.87px;">

            {% for category in object_list %}
                <!-- Single Catagory -->

                <a href="{% url 'products:product_by_category' pk=category.id %}">
                    <img src="{{ category.image }}" alt="">
                    <!-- Hover Content -->
                    <h2>{{ category.title }}</h2>
                </a>

            {% endfor %}
        </div>
    </div>

{% endblock %}