{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="single-product-area section-padding-100 clearfix">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mt-50">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Furniture</a></li>
                            <li class="breadcrumb-item"><a href="#">Chairs</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ object.title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-7">
                    <div class="single_product_thumb">
                        <img src="{{ object.image.url }}">
                        {#                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">#}
                        {#                                <ol class="carousel-indicators">#}
                        {#                                    <li class="" data-target="#product_details_slider" data-slide-to="0" style="background-image: url({% static 'img/product-img/pro-big-1.jpg' %});">#}
                        {#                                    </li>#}
                        {#                                    <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url({% static 'img/product-img/pro-big-2.jpg' %});" class="active">#}
                        {#                                    </li>#}
                        {#                                    <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url({% static 'img/product-img/pro-big-3.jpg' %});">#}
                        {#                                    </li>#}
                        {#                                    <li data-target="#product_details_slider" data-slide-to="3" style="background-image: url({% static 'img/product-img/pro-big-4.jpg' %});">#}
                        {#                                    </li>#}
                        {#                                </ol>#}
                        {#                                <div class="carousel-inner">#}
                        {#                                    <div class="carousel-item">#}
                        {#                                        <a class="gallery_img" href="{{ object.image.url }}">#}
                        {#                                            <img class="d-block w-100" src="img/product-img/pro-big-1.jpg" alt="First slide">#}
                        {#                                        </a>#}
                        {#                                    </div>#}
                        {#                                    <div class="carousel-item active">#}
                        {#                                        <a class="gallery_img" href="{{ object.image.url }}">#}
                        {#                                            <img class="d-block w-100" src="img/product-img/pro-big-2.jpg" alt="Second slide">#}
                        {#                                        </a>#}
                        {#                                    </div>#}
                        {#                                    <div class="carousel-item">#}
                        {#                                        <a class="gallery_img" href="img/product-img/pro-big-3.jpg">#}
                        {#                                            <img class="d-block w-100" src="img/product-img/pro-big-3.jpg" alt="Third slide">#}
                        {#                                        </a>#}
                        {#                                    </div>#}
                        {#                                    <div class="carousel-item">#}
                        {#                                        <a class="gallery_img" href="img/product-img/pro-big-4.jpg">#}
                        {#                                            <img class="d-block w-100" src="img/product-img/pro-big-4.jpg" alt="Fourth slide">#}
                        {#                                        </a>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="single_product_desc">
                        <!-- Product Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>
                            <p class="product-price">$ {{ object.price }}</p>
                            <a href="product-details.html">
                                <h6>{{ object.title }}</h6>
                            </a>
                            <!-- Ratings & Review -->
                            <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="review">
                                    <a href="#">Write A Review</a>
                                </div>
                            </div>
                            <!-- Avaiable -->
                            <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                        </div>

                        <div class="short_overview my-5">
                            <p>{{ object.description }}</p>
                        </div>
                        {% include 'carts/snippets/button_add_to_cart.html' with instance=object %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}